.box {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ingBox {
  max-height: 700px;
  overflow-y: scroll;
  flex-direction: column;
  display: flex;
}

.name {
  visibility: hidden;
}

.flex {
  display: flex;
}
