.position {
  box-sizing: border-box;
  max-width: 1300px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.link {
  margin: 0;
  display: flex;
  align-items: center;
  color: var(--text-inactive-color);
  text-decoration: none;
}

.menu {
  display: flex;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  flex: 2 1 auto;
}

.box {
  display: flex;
  flex: 4 2 auto;
}

.activelink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.disablelink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-inactive-color);
}
